@{
    ViewData["Title"] = "Dashboard";
}

<section>
    <nav class="d-flex justify-content-between p-3 px-5" >
        <h3>Welcome @Context.Session.GetString("UserName")</h3>
        <form action="logout" method="post">
            <button type="submit" class="btn btn-outline-danger btn-sm">Log out</button>
        </form>
    </nav>
    <hr>
    <h1>@ViewData["Title"]</h1>
    <h1 class="mx-auto text-center border border-secondary p-5 w-25" >@Context.Session.GetInt32("UserNum")</h1>
    <div class="container p-5" >
        <div class="row" >
            <div class="col" >
                <form action="math" method="post">
                    <input hidden name="amount" value="add" type="text">
                    <button type="submit" style="width:200px; height:200px" class="btn btn-outline-warning btn-lg p-5 ">Add +1</button>
                </form>
            </div>
            <div class="col" >
                <form action="math" method="post">
                    <input hidden name="amount" value="sub" type="text">
                    <button type="submit" style="width:200px; height:200px" class="btn btn-outline-primary btn-lg p-5 ">Subtract -1</button>
                </form>
            </div>
        </div>
        <div class="row mt-5" >
            <div class="col" >
                <form action="math" method="post">
                    <input hidden name="amount" value="mult" type="text">
                    <button type="submit" style="width:200px; height:200px" class="btn btn-outline-danger btn-lg p-5 ">Multiply *2</button>
                </form>
            </div>
            <div class="col" >
                <form action="math" method="post">
                    <input hidden name="amount" value="rand" type="text">
                    <button type="submit" style="width:200px; height:200px" class="btn btn-outline-success btn-lg p-5 ">Add Random Amount</button>
                </form>
            </div>
        </div>
    </div>
    <p></p>
</section>
