@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome</h1>
    <form action="success" method="post" class="form-control w-50 mx-auto mt-5" >
        <label for="Name" class="m-3" >Enter your name: </label>
        <span></span>
        <input class="form-control" type="text" name="SesName">
        <Button type="submit" class="btn btn-sm btn-outline-primary" >Submit</Button>
    </form>
</div>
