@{
    ViewData["Title"] = "Home Page";
}

@model Wedding

@await Html.PartialAsync("_Navigation")

<div>
    <h1 class=" my-5 display-4" >@Model.WedderOne & @Model.WedderTwo's wedding </h1>
    <h3 class="my-3" >
        @{
            DateTime date = Model.Date.HasValue ? (DateTime)Model.Date : DateTime.Today;
            string fDate = date.ToString("dddd, dd MMMM yyyy");
        }
        @fDate
    </h3>
    <h4>Guests:</h4>
    <ul class="border border-secondary w-25 p-3" >

        @foreach (WeddingRsvp u in Model.Guests)
        {
            <li class="nav" >@u.User?.FirstName @u.User?.LastName</li>
        }
    </ul>
</div>


