<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First one</title>
</head>
<body>
    <h1>First web app!</h1>
    <h3> Hello, @ViewBag.Name </h3>
</body>
</html>