<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Portfolio Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        |<a href="/projects">Projects</a>
        |<a href="/contact">Contact</a>
    </nav>
    <h1>Contact Me!</h1>
    <form action="" class="contact">
        <div class="input" >
            <label for="Name">Name: </label>
            <input id="Name" name="Name" placeholder="John Doe" type="text">
        </div>
        <div class="input" >
            <label for="Email">Email: </label>
            <input id="Email" name="Email" placeholder="Example@email.com" type="text">
        </div>
        <div class="input" >
            <label for="Message">Message: </label>
            <textarea name="Message" id="Message" cols="30" rows="5" placeholder="Write something..." ></textarea>
        </div>
    </form>
</body>
</html>