<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Profile Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        |<a href="/projects">Projects</a>
        |<a href="/contact">Contact</a>
    </nav>
    <h1>About Me</h1>
    <main>
        <div class="left">
            @* <div class="about" ></div> *@
            <img class='profile' src="~/images/bobby.jpg" alt="Bobby Hill">
            <h3>Bobby Hill</h3>
            <h5>I love Propane</h5>
        </div>
        <div class="right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque libero fugit vitae illo natus. Rem perspiciatis assumenda debitis labore nostrum eveniet quam, earum nesciunt! Dignissimos eos adipisci vero explicabo mollitia!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque libero fugit vitae illo natus. Rem perspiciatis assumenda debitis labore nostrum eveniet quam, earum nesciunt! Dignissimos eos adipisci vero explicabo mollitia!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque libero fugit vitae illo natus. Rem perspiciatis assumenda debitis labore nostrum eveniet quam, earum nesciunt! Dignissimos eos adipisci vero explicabo mollitia!</p>
        </div>
    </main>
</body>
</html>

