<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Portfolio Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        |<a href="/projects">Projects</a>
        |<a href="/contact">Contact</a>
    </nav>
    <h2>My Projects!</h2>
    <div class="proj-cont" >
        <div class="project" >
            <img class="projectImg" src="~/images/Project1.jpg" alt="Project1">
            <div>
                <h3>Project Draw Dad.</h3>
                <p>Just tried to draw my dad on this propane tank.</p>
            </div>
        </div>
        <hr>
        <div class="project" >
            <img class="projectImg" src="~/images/propane2.jpg" alt="Project1">
            <div>
                <h3>Project Draw Work</h3>
                <p>Designed our very own propane tank.</p>
                <p>A Strickland Propane Exclusive!</p>
            </div>
        </div>
        <hr>
        <div class="project" >
            <img class="projectImg" src="~/images/project3.jpg" alt="Project1">
            <div>
                <h3>Project Rebel</h3>
                <p>It's not all just about propane all the time.</p>
            </div>
        </div>
    </div>
</body>
</html>