@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr class="w-75 mx-auto" >
    <table class="table table-striped table-hover table-secondary w-75 mx-auto table-bordered" >
        <thead>
            <tr>
                <th>Dish Name</th>
                <th>Chef Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Dish d in Model)
            {
                <tr>
                    <td><a asp-action="OneDish" asp-controller="Dish" asp-route-dishId="@d.DishId" >@d.Name</a></td>
                    <td>by @d.Chef</td>
                </tr>
            }
        </tbody>
    </table>
</div>
