@{
    ViewData["Title"] = "Home Page";
}

@model NewDate

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="process" asp-controller="Home" method="post" >
        <span asp-validation-for="MyDate" class="text-danger" ></span>
        <label for="MyDate"></label>
        <input type="date" asp-for="MyDate">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>


    @* <p>@ViewBag.Date.MyDate</p> *@
</div>
