@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-action="">
        <label asp=for="Date"></label>
        <input asp-for="Date">
    </form>
</div>
